---
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}

    <main style="padding-top: 0;">
        <header style="padding-bottom: 0;">
            <h1>生徒会放送局 備品借用ポータル</h1>
            <p>
                <a href="https://tkhs-broadcast.github.io/new.html"><i>新規申請</i></a>
                <a href="https://tkhs-broadcast.github.io/check.html"><i>申請確認</i></a>
                <a href="https://tkhs-broadcast.github.io/list.html"><i>備品一覧</i></a>
            </p>
        </header>
    </main>

    {% include footer.html %}
</body>


</html>