---
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}


    <script>
        function createElementFromHTML(html) {
            const tempEl = document.createElement('table');
            tempEl.innerHTML = html;
            return tempEl.firstElementChild.firstElementChild;
        }

        let items = {};
        let itemsnum = 0;


        function iichanged(id) {
            // filter and get name

            ge(id + "name").innerText = items.findIndex(e => e[0] == ge(id).value) != -1 ? items[items.findIndex(e => e[0] == ge(id).value)][1] : "不正なID";
            uCV();
        }
        function additem() {
            itemsnum += 1;
            let options = "";
            items.map(e => e[0]).forEach(e => options += `<option value="${e}"></option>`)

            ge("items").appendChild(createElementFromHTML(`
                <tr>
                    <td>
                        <input type="text" name="iid${itemsnum}" id="iid${itemsnum}" list="li${itemsnum}" onchange="iichanged('iid${itemsnum}')">
                        <datalist id="li${itemsnum}">
                        ${options}
                        </datalist>
                    </td>
                    <td><p id="iid${itemsnum}name"></p></td>
                    <td>
                        <input type="text" name="p${itemsnum}" id="p${itemsnum}" onchange = "uCV()">
                    </td>
                </tr>
            `));
        }

        // updateCopyValue
        function uCV() {
            let cd = [];

            [...Array(itemsnum)].map((_, i) => {
                idata = items[items.findIndex(e => e[0] == ge(`iid${i + 1}`).value)]
                if (!!idata) {
                    cd.push([ge(`iid${i + 1}`).value, ge(`p${i + 1}`).value])
                }
            })
            ge("copyarea").value = JSON.stringify(cd)
        }

        function copy() {
            uCV();
            let check = true;
            [...Array(itemsnum)].map((_, i) => {
                if (items.findIndex(e => e[0] == ge(`iid${i + 1}`).value) == -1) {
                    check = false;
                }
            })

            navigator.clipboard.writeText(ge("copyarea").value).then(() => {
                if (!check) {
                    alert("不正な値が含まれています。フォームに入力する前に修正してください。")
                } else {
                    alert("コピーされました!")
                }
            }).catch(err => { alert("エラー　コピーされませんでした") })
        }
        window.onload = async () => {
            items = await getData({ "api": "getAvailableItems" });
            ge("addbtn").disabled = false;
        }
    </script>
    <main style="padding-top: 0;">
        <header style="padding-bottom: 0;">
            <h1>借用備品リスト作成</h1>
            <h2>使わない欄は空欄にしてください</h2>
            <div><a
                    href="https://script.google.com/macros/s/AKfycbxkzEqWv8vVUqpy-XBXJpj9pbKHuMKn2ndRSaPZ9aaJkizuFRcVSQjTTfBQWbW6nXv05Q/exec?type=list">備品一覧</a>
            </div>
        </header>
        <section>
            <button onclick="additem()" id="addbtn" disabled>追加</button>
            <p></p>
            <table>
                <thead>
                    <tr>
                        <td>備品ID</td>
                        <td>備品名</td>
                        <td>使用用途</td>
                    </tr>
                </thead>
                <tbody id="items">
                </tbody>
            </table>
            <p></p>
            <input type="text" id="copyarea" disabled>
            <button onclick="copy()">copy</button>
        </section>
    </main>


    {% include footer.html %}
</body>


</html>